<h2>
    Technologies
</h2>
<ul>
    <li class="listItem"><a href="css">CSS</a></li>
    <li class="listItem"><a href="html">HTML</a></li>
    <li class="listItem"><a href="javascript">JAVASCRIPT</a></li>
    <li class="listItem"><a href="php">PHP</a></li>
    <li class="listItem"><a href="python">PYTHON</a></li>
    <li class="listItem"><a href="git">GIT</a></li>
    <li class="listItem"><a href="sqlite">SQLITE</a></li>
</ul>
